!!! 5
html
  head
    title teh swaharm dehmo

    link(rel='stylesheet', type="text/css", media="screen, projection", href='screen.css' )

    script(src='http://api.bugswarm-dev/socket.io/socket.io.js')
    script(src='http://maps.google.com/maps/api/js?sensor=false')

  body
    h1 bug swarm fleetwatcher
    #map_canvas

   script
    :coffeescript
      window.initialize = ->
        buglabs = { lat: 40.72498216901785, lon: -73.99708271026611 }

        console.log 'creating socketio server'

        try
          socket = io.connect 'http://api.bugswarm-dev'
        catch e
          console.log 'exception: ' + e

        socket.on 'connect', ->
          socket.emit 'apikey', '58528a20ff7b4e08f71213cfbe22daffd8c3b3d3'

        socket.on 'message', (message) ->
          addNewLocation JSON.parse message.message.body.data if message?.message?.body?.data?

        socket.on 'connected to backend', ->
          console.log 'connected'
          socket.emit 'message', {presence: {to: '59c8f62e210812de2937d4700b6f751400546694@swarms.xmpp.bugswarm-dev/browser'}}

        socket.on 'disconnect', ->
          console.log 'disconnected'

        socket.on 'error', (error) ->
          console.log 'ERROR: ' + JSON.stringify error

        socket.on 'presence', (who) ->
          who = who.from.split('@')[0]
          alive = who.type is 'available'

          list_element = $ "##{who}" || $('#seen').append "<li id=#{who}>#{who}</li>"

          list_element.attr class: alive? 'alive': 'dead'

        console.log 'creating map centered around BUG Labs'
        mapOptions = zoom: 12, center: new google.maps.LatLng(buglabs.lat, buglabs.lon) , mapTypeId: google.maps.MapTypeId.ROADMAP
        mapCanvas = document.getElementById "map_canvas"
        mapGoogle = new google.maps.Map mapCanvas, mapOptions

        markers = []

        addNewLocation = (location) ->
          marker = new google.maps.Marker
            position: new google.maps.LatLng location.latitude, location.longitude
            icon: "http://robohash.org/#{location.name}.png?size=40x40&set=set3"
            map: mapGoogle
            html: "<strong>#{location.name}</strong>"
            title: location.name

          infowindow = new google.maps.InfoWindow { content: 'testbug' }

          google.maps.event.addListener marker, 'click', () ->
            infowindow.setContent this.html
            infowindow.open mapGoogle, this

          markers.push marker

    script(type='text/javascript')
      window.initialize()
