!!! 5
html
  head
    title teh swaharm dehmo

    link(rel='stylesheet', type="text/css", media="screen, projection", href='/screen.css' )

    script(src='http://bugswarm.net:8888/socket.io/socket.io.js')
    script(src='http://maps.google.com/maps/api/js?sensor=false')

  body
    h1 bug swarm fleetwatcher
    #dashboard
      #map_canvas
      #sidebar
        ul#swarms

    script
     :coffeescript
      window.initialize = ->
        buglabs = { lat: 40.72498216901785, lon: -73.99708271026611 }

        console.log 'creating socketio server'

        try
          socket = io.connect 'http://api.bugswarm-dev'
        catch e
          console.log 'exception: ' + e

        socket.on 'connect', ->
          socket.emit 'apikey', '58528a20ff7b4e08f71213cfbe22daffd8c3b3d3'

        # on any message
        #  check that the swarm exists, if not, add it to the dom
        #  check that the resource exists in that swarm, if not add it to the dom
        #  set the correct class for that resource to show presence
        #  update the location and mpg
        socket.on 'message', (message) ->
          // extract the swarm, resource, and state
          swarm = message?.body?.from?.split('@')[0]
          // note that split('/')[1] is probably good enough
          resource = message?.body?.from?.split('/')[1].split('-')[1]
          alive = message?.body?.type is 'available '
          data = message?.message?.body?.data
          console.log "message from #{alive} #{resource} in swarm #{swarm}:"
          console.log "  #{data}"

          // add the elements to the dom if not found and keep up to date
          // FIXME: check that append goes inside instead of after
          dom_swarm = $ "##{swarm}" || $("#swarms").append "<ul id=#{swarm} class='swarm'><ul>"
          dom_resource = $ "##{resource}" || $("##{swarm}").append "<li id=#{resource}>#{resource} (#{data.mpg} mpg)</li>"

          dom_resource.attr class: (alive? 'alive': 'dead')

          updateResource JSON.parse dom_resource, data

        socket.on 'connected to backend', ->
          console.log 'connected'
          socket.emit 'message', { presence: { to: '59c8f62e210812de2937d4700b6f751400546694@swarms.xmpp.bugswarm-dev/browser' } }

        console.log 'creating map centered around BUG Labs'
        mapOptions = zoom: 12, center: new google.maps.LatLng(buglabs.lat, buglabs.lon) , mapTypeId: google.maps.MapTypeId.ROADMAP
        mapCanvas = document.getElementById "map_canvas"
        mapGoogle = new google.maps.Map mapCanvas, mapOptions

        markers = []

        updateResource = (dom_resource, data) ->
          marker = new google.maps.Marker
            position: new google.maps.LatLng data.latitude, data.longitude
            icon: "http://robohash.org/#{data.id}.png?size=40x40&set=set3"
            map: mapGoogle
            html: "<strong>#{data.mpg}</strong>"
            title: data.name

          # if you click on a resource, highlight it in the list!
          google.maps.event.addListener marker, 'click', () ->
            dom_resource.parent.expand
            dom_resource.highlight

          markers.push marker

    script(type='text/javascript')
      window.initialize()
